body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background: #57639e;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 2rem;
    font-family: monospace;
    color: aliceblue;
}
#emoji-btn{
    font-size: 3rem;
    filter: grayscale(1);
    transition: .1s;
    border: none;
    cursor: pointer;
}
#emoji-btn:hover{
    transform: scale(1.23);
    filter: grayscale(0);
}